#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    bindings = <&kp>, <&kp>;

    tapping-term-ms = <300>;
};

&msc {
};

&trackball {
    // automouse-layer = <4>;

    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };
    };

    macros {
        to_layer_0_win: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER &kp LS(W) &kp I &kp N &kp EXCL &kp EXCL &kp EXCL>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0_win>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W         &kp E         &kp R         &kp T                                          &kp Y            &kp U        &kp I            &kp O       &lt 7 P
&mt LCTRL A  &mt LGUI S    &mt LALT D    &mt LSHFT F   &kp G      &kp ESCAPE       &kp RIGHT_CONTROL  &kp H            &mt RSHFT J  &mt RIGHT_ALT K  &mt RGUI L  &mt RCTRL SEMICOLON
&kp Z        &kp X         &kp C         &kp V         &kp B      &kp TAB          &kp SEMICOLON      &kp N            &kp M        &kp COMMA        &kp DOT     &lt 5 SLASH
&mo 6        &kp LEFT_WIN  &kp LEFT_ALT  &lt 4 ESCAPE  &kp SPACE  &lt 2 ENTER      &lt 1 BACKSPACE    &kp RIGHT_SHIFT                                            &kp DEL
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                           &caps_word       &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans       &kp PRINTSCREEN  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &bootloader  &trans           &kp F1  &kp F2  &kp F3  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans                                   &trans
            >;
        };

        NUM {
            bindings = <
&kp MINUS  &kp N7        &kp N8        &kp N9        &kp N0                              &trans  &trans  &trans  &trans  &trans
&kp SQT    &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans     &trans           &trans  &trans  &trans  &trans  &trans  &trans
&kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp GRAVE  &bootloader      &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans        &trans        &trans        &trans     &trans           &trans  &trans                          &trans
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans            &trans             &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans            &trans             &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                      &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_Ble {
            bindings = <
&kp C_VOLUME_UP  &kp C_VOL_DN  &kp K_MUTE  &trans  &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans           &trans        &trans      &trans  &trans  &trans      &trans       &out OUT_BLE  &out OUT_USB  &trans        &trans        &trans
&trans           &trans        &trans      &trans  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans           &trans        &trans      &trans  &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        layer_mouse {
            bindings = <
&trans    &trans        &trans    &trans     &trans                      &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans
&kp LEFT  &kp UP_ARROW  &kp DOWN  &kp RIGHT  &trans  &trans      &trans  &trans  &trans     &trans     &trans     &trans
&trans    &trans        &trans    &trans     &trans  &trans      &trans  &trans  &trans     &trans     &trans     &trans
&trans    &trans        &trans    &trans     &trans  &trans      &trans  &trans                                   &trans
            >;
        };
    };
};
